*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

html {
    font-size: 62.5%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-style:Roboto;
  }

body{
    background-image: linear-gradient(to bottom right, 
    
#2c3e50
,
#4ca1af);
}

.header{
    display:flex;
    justify-content: space-between;
    margin:0px 5rem 0px 20px;
}

.tab{
    display:flex;
    color:#191919;
    opacity: 0.7;
}

.link:link,
.link:visited{
    cursor: pointer;
    font-size: 1.2rem;
    text-decoration:none;
    color:white;
    opacity:0.9;
    padding:0px 1.2rem;
    letter-spacing:0.5px;
    font-family: sans-serif;
    font-weight:100px;
    padding: 1rem 1.5rem;
}

.link:hover{
    background-color:#d3d3d3;
    color:#3C7731;
}

    .container
    {
        width: 100vw;
        height: 90vh;
        max-width: 100rem;
        background-color:#fff;
        margin:1rem auto;
        display: grid;
        grid-template-columns: 1fr 3fr;
        box-shadow: 0 35px 55px rgba(0,0,0,0.1);

        
    }
.left_side{
    background-color: #073449;
    padding-top:2rem;
}
.ProfileText
{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 20px;
    border-bottom: 1px solid rgba(255,255,255, 0.2);

}
.imgbox
{
    position: relative;
    width: 17rem;
    height: 17rem;
    border-radius: 50%;
    overflow: hidden;
}

.imgbox img
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.ProfileText h1
{
    color:rgb(245, 245, 245);
    font-size: 1.5em;
    margin-top: 20px;
    text-transform: uppercase;
    text-align: center;
    font-weight: 600;
    line-height: 1.4em;
    font-family: sans-serif;
    letter-spacing:1px;
    word-spacing: 5px;
    
}

.details{
    margin-top:1rem;
    color: white;
}

.contact_detail{
    width:100%;
    margin: 0px 0px 2rem 3rem;
}

.contact_detail > div{
    font-size:1.3rem;
    padding-bottom: 2px;
}

#contact{
    font-family: 'Dancing Script', cursive;
    font-size:4rem;
    padding-bottom: 5px;
}

.linkme:link,
.linkme:visited {
    text-decoration:none;
    color: white;
}

.skill_box {
    width: 100%;
    margin: 0px 0px 2rem 3rem;
}

.skill_box > div {
    font-size: 1.3rem;
    padding-bottom: 2px;
    text-transform: uppercase;
}

#skill{
    font-family: 'Dancing Script', cursive;
    font-size:4rem;
    padding-bottom: 5px;
    text-transform: lowercase;
}


.right_side{
    padding:2rem;
}

.title2{
    font-family: 'Dancing Script', cursive;
    font-size:8rem;
    font-weight: normal;
    margin-bottom: 2rem;
}

.profile_body p {
    font-size: 1.5rem;
    letter-spacing:.5px;
    word-spacing: 2px;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-style: italic;
    margin-bottom: 2rem;
}

.info{
    font-family: 'Raleway', sans-serif;
    font-size: 1.2rem;
}

.education_box * {
    /* font-size: 1rem; */
    margin: 3px 0px 5px 0px;
}

#education {
    font-family: 'Dancing Script', cursive;
    font-size: 6rem;
    font-weight: normal;
}

.hobbies_box * {
    margin: 3px 0px 3px 0px;
}

#hobbies {
    font-family: 'Dancing Script', cursive;
    font-size: 6rem;
}
